body[data-theme="dark"] {  

   @import '/src/scss/dark-slider.scss';

   .slider-tab {
      background-color: #F29057;
   }

   .title-styles {
      color: #F2E4DC;
   }

   .header-icon {
      color: #F2E4DC;
      opacity: 0.8;
   }

   .slider-image {
      border: 5px solid #F29057;
   }

   .language {
      background-color: #F29057;
   }

   .link-href {
      color: #F29057;
   }

   .project-date {
      background-color: #260801;
      color: #F29057;
   }

   header {
      background-color: #260801;
      h1 {
         color: #F2E4DC;
      }
   }

   #about {
      background-color: #59321B;
      h1 span {
         color: #F29057;
      }
      .polaroid span {
         background:  #F29057;
      }
      .card {
         background: #F29057;
         color: #260801;
      }
   }

   #portfolio {
      background: #59321B;
      .section-title {
         color: #F29057 !important;
      }
      .foto div {
         background: #F29057;
      }
      .project-title-settings {
         color: #260801;
      }
   }

   #resume {
      filter: brightness(80%);
      background: #260801;
      .section-title {
         color: #F29057 !important;
      }

      .experience-badge {
         background: #BF8969 !important;
         color: white;
      }

      .main-badge {
         background: #BF8969 !important;
      }

      .vertical-timeline-element-date {
         color: #F29057;
      }

      .vertical-timeline-element-icon {
         background: #BF8969 !important;
      }
      @media only screen and (max-width: 1169px) { 
         .vertical-timeline-element-date {
            color: #F29057;
         }
      }
   }

   .modal-inside .modal-content {
      background: #260801;
      color: #BF8969;
   }

   .close-icon {
      color: #BF8969;
   }
}
